.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.8;
    border-radius: 10px;
  }
  
  .header {
    text-align: center;
    margin-bottom: 2rem;
  }

  .paragraph {
    margin-bottom: 2rem;
    text-align: justify;
  }
  
  .featureSection,
  .howItWorksSection {
    border-top: 1px solid #ddd;
    margin-bottom: 2rem;
  }
  
  .languageButton {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: #da0808;
    border-radius: 5px;
  }